// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";
// @import "font-awesome";

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  gpsc:       #6AAA47,
  gold:       #fedd1e,
  light-gold: #FFEB73,  
  dark-gold:  #A78F00,
  darker-gold:#D5B601,
  white: 	    #fff,
  green: 	    #11b700,
  blue: 	    #687DCA,
  light-grey: #eee,
  dark-grey:  #ccc,
  grey: #8f8f8d
);

// $toolbar-background: #d80622;

$header-first-color: #d80622;
$header-last-color: #6f1133;

// $popover-md-width: 120px;
// $popover-ios-width: 120px;
// $popover-wp-width: 120px;

// $popover-wp-height: 80px;
// $popover-ios-height: 80px;
// $popover-md-height: 80px;

// $popover-wp-background: #000;
// $popover-ios-background: #000;
// $popover-md-background: #000;
// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";


